<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">htons</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/last_fm</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <mapping class="com.semkagtn.lastfm.ArtistsTags" />
        <mapping class="com.semkagtn.lastfm.RecentTracks" />
        <mapping class="com.semkagtn.lastfm.Tracks" />
        <mapping class="com.semkagtn.lastfm.TracksTags" />
        <mapping class="com.semkagtn.lastfm.Users" />
        <mapping class="com.semkagtn.lastfm.Tags" />
        <mapping class="com.semkagtn.lastfm.Artists" />
    </session-factory>
</hibernate-configuration>
